<!--# О модуле. #-->
<div class="modal fade" id="about" tabindex="-1" role="dialog" aria-labelledby="about1" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only"></span></button>
            <h4 class="modal-title">LG webOS TV</h4>
         </div>
         <div class="modal-body" style="padding-bottom: 1px;">
            <div class="float-right">
               <img src="../templates/lgwebostv/logo.png"  width="48" height="48">
               <br><br><p><b>v.0.1a</b></p>
            </div>
            <p class="float-left">
               Модуль поддержки смарт-телевизоров <b>LG</b> на платформе <b>webOS</b>.<br><br>
               Проект в  <a href="https://github.com/skysilver-lab/majordomo-lgwebostv" target="_blank">Github</a>.<br>
               Проект в <a href="https://connect.smartliving.ru/tasks/226.html" target="_blank">Connect</a>.<br>
            </p>
            <hr size="1">
            <p class="float-left">
               Поддержать разработку и развитие модуля:
               <ul>
                  <li>Yandex: <a href="https://money.yandex.ru/to/410011205062626" target="_blank">410011205062626</a></li>
                  <li>PayPal: <a href="https://www.paypal.me/skysilver" target="_blank">paypal.me/skysilver</a></li>
                  <li>Внутренний счет в <a href="https://connect.smartliving.ru/tasks/226.html" target="_blank">Connect</a></li>
               </ul>
            </p>
            <h6>Благодарности: <b>leodev</b>, <b>eramkovrd</b>, <b>Shagrat</b>, <b>bat86</b>.</h6>
         </div>
         <div class="modal-footer" style="margin-top: 1px;">
            <div class="pull-left">Автор: <a href="https://telegram.me/agafonov_d" target="_blank">skysilver</a></div>
            <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
         </div>
      </div>
   </div>
</div>
