<!--# Интерфейс ручного добавления устройства. #-->
<legend>Новое устройство</legend>
<form action="?" method="post" enctype="multipart/form-data" name="frmEdit" class="form-horizontal">
   <fieldset>
      [#if OK#]
         <div class="alert alert-success" role="alert"><#LANG_DATA_SAVED#></div>
      [#endif OK#]
      [#if ERR#]
         <div class="alert alert-danger" role="alert">Пожалуйста, заполните необходимые поля!</div>
      [#endif ERR#]
      <!--# Название устройства (обязательное поле). #-->
      <div class="form-group">
         <label class="col-lg-3 control-label"[#if ERR_TITLE#] style="color:red;font-weight:bold"[#endif#]>
            <#LANG_TITLE#> (*):
         </label>
         <div class="col-lg-4"><input type="text" class="form-control" name="title" value="[#TITLE#]" id="title"[#if ERR_TITLE#] placeholder="Укажите название устройства!"[#endif#]></div>
      </div>
      <!--# IP-адрес устройства (обязательное поле). #-->
      <div class="form-group">
         <label class="col-lg-3 control-label"[#if ERR_IP#] style="color:red;font-weight:bold"[#endif#]>
            IP (*):
         </label>
         <div class="col-lg-4"><input type="text" class="form-control" name="ip" value="[#IP#]" id="ip"[#if ERR_IP#] placeholder="Укажите IP-адрес устройства!"[#endif#]></div>
      </div>
      <!--# Токен устройства. #-->
      <div class="form-group">
         <label class="col-lg-3 control-label">
            Токен:
         </label>
         <div class="col-lg-4"><input type="text" class="form-control" name="token" value="[#TOKEN#]" id="token" placeholder="Не обязательно. Можно получить позже."></div>
      </div>
      <div class="form-group">
         <div class="col-lg-offset-3 col-lg-4">
            <button type="submit" name="subm" value="Add" class="btn btn-primary"><#LANG_ADD#></button>
            <a href="?" class="btn btn-default"><#LANG_STRING_BACK#></a>
            <input type="hidden" name="view_mode" value="<#VIEW_MODE#>">
            <input type="hidden" name="mode" value="addnew">
         </div>
      </div>
   </fieldset>
</form>