<!--# Область настроек. #-->
<div class="collapse" id='api_settings'>
   &nbsp;
   <form action="?" method="post" enctype="multipart/form-data" name="frmEdit" class="form-horizontal">
      <fieldset>
         <div class="form-group">
            <label class="control-label">Период TCP PING
               <span class='support-hover' tabindex="1" data-title="Период пинга ТВ (в секундах) для определения его доступности. Выполняется только для ТВ в выключенном состоянии (оффлайн), чтобы определить момент включения ТВ и начать установление соединения с ним. Не рекомендуется выставлять значения меньше 60 сек.">
                  <i class="glyphicon glyphicon-info-sign"></i>
               </span>
            </label>
            <div class="col-lg-4"><input class="form-control" type="text" name="api_tcp_ping_period" value="[#if API_TCP_PING_PERIOD!=""#][#API_TCP_PING_PERIOD#][#else#]60[#endif#]" class="input"></div>
         </div>
         <div class="form-group">
            <label class="control-label">Период WEBSOCKET PING
               <span class='support-hover' tabindex="1" data-title="Период служебного пинга ТВ по протоколу websocket для проверки и поддержания установленного соединения с ТВ. Выполняется только для ТВ во включенном состоянии (онлайн). Не рекомендуется менять без особой необходимости и выставлять значения меньше 20 сек.">
                  <i class="glyphicon glyphicon-info-sign"></i>
               </span>
            </label>
            <div class="col-lg-4"><input class="form-control" type="text" name="api_ws_ping_period" value="[#if API_WS_PING_PERIOD!=""#][#API_WS_PING_PERIOD#][#else#]20[#endif#]" class="input"></div>
         </div>
         <div class="form-group">
            <div class="controls"><input type="checkbox" name="api_log_debmes" value="1"[#if API_LOG_DEBMES="1"#] checked[#endif#]> 
               Отладка  DebMes
               <span class='support-hover' tabindex="1" data-title="Запись обмена сообщениями между сервером и ТВ в отдельный лог-файл YYYY-mm-dd_lgwebostv.log. Для вступления изменений в силу требуется перезапустить цикл.">
                  <i class="glyphicon glyphicon-info-sign"></i>
               </span>
            </div>
         </div>
         <div class="form-group">
            <div class="controls"><input type="checkbox" name="api_log_cycle" value="1"[#if API_LOG_CYCLE="1"#] checked[#endif#]> 
               Отладка  Cycle
               <span class='support-hover' tabindex="1" data-title="Запись отладочных сообщений цикла в лог-файл log_YYYY-mm-dd-cycle_lgwebostv.php.txt. Для вступления изменений в силу требуется перезапустить цикл.">
                  <i class="glyphicon glyphicon-info-sign"></i>
               </span>
            </div>
         </div>
         <div class="form-actions">
            <button type="submit" name="subm" value="Submit" class="btn btn-primary"><#LANG_UPDATE#></button>
            <input type="hidden" name="view_mode" value="update_settings">
         </div>
      </fieldset>
   </form>
</div>
